@model LHLapTrinhWeb.Models.Sach

<div class="container my-5">
    <div class="card details-card shadow-sm p-0">
        <div class="row g-0">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center p-3">
                <img class="img-fluid details-img rounded" src="@Url.Content($"~/image/Sach/{Model.HinhMinhHoa}")" alt="@Model.TenSach">
            </div>

            <div class="col-md-6 col-sm-12 description-container p-5">
                <div class="main-description">
                    <p class="product-category mb-1 text-muted">@Model.MaCdNavigation?.TenChuDe</p>
                    <h3>@Model.TenSach</h3>
                    <hr>
                    <p class="product-price text-primary">@Model.DonGia?.ToString("C")</p>
                    <form asp-action="AddToCart" method="post" class="d-flex align-items-center mb-3">
                        <input type="hidden" name="id" value="@Model.MaSach" />
                        <input type="number" name="quantity" value="1" min="1" max="10" class="form-control me-3" style="width: 80px;" />
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                    <form method="post" class="d-inline">
                        <button name="add_to_wishlist" type="submit" class="btn btn-warning btn-lg mb-3">Add to Wishlist</button>
                    </form>

                    <hr>

                    <p class="product-title mt-4 mb-1">About this book</p>
                    <p class="product-description mb-4">@Model.MoTa</p>

                    <hr>

                    <p class="product-title mt-4 mb-1">Share this product</p>
                    <ul class="social-list d-flex list-unstyled">
                        <li><a href="#"><i class="fa-brands fa-facebook text-primary"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter text-info"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-square-instagram text-danger"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    * {
        box-sizing: border-box;
    }

    .details-card {
        width: 80%;
        margin: auto;
        border: none;
    }

    .description-container {
        position: relative;
    }

    .details-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .main-description h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .product-title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .product-price {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .social-list li {
        margin-right: 15px;
    }

        .social-list li a {
            color: inherit;
            font-size: 1.5rem;
        }
</style>
