@model IEnumerable<LHLapTrinhWeb.Models.Sach>

@{
    ViewData["Title"] = "Chủ Đề Sách";
}

<div class="container">
    <h1>Chủ Đề Sách</h1>
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var sach in Model)
            {
                <div class="col-md-4">
                    <div class="card" style="margin-bottom: 20px;">
                        <img src="@sach.HinhMinhHoa" class="card-img-top" alt="@sach.TenSach">
                        <div class="card-body">
                            <h5 class="card-title">@sach.TenSach</h5>
                            <p class="card-text">@sach.MoTa</p>
                            <a href="@Url.Action("SPTheoChuDe", "Sach", new { id = sach.MaSach })" class="btn btn-primary">Xem Sách</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Không có chủ đề nào.</p>
        }
    </div>
</div>
